thead > tr { 
  text-align: left !important;
}

.right {
  text-align: -webkit-right;
}

.width-75 {
  width: fit-content !important;
  max-width: 75%;
}

.bloc-conversation {
  margin-top: 5vh;
  height: 80vh !important;
  width: 85vw !important;
  overflow:auto;
  padding: 0 100px 0 100px !important;
}



.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #f8f8f8;
  border: 1px solid #dedede;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #848484;
}